
$primary-orange : #f54d2d;
$primary-orange-darker : #cb4026;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

body{
  max-width: 100%;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  label{
    color:#444;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
  }

  input{
    font-weight: 200;
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
  }

  #epay_main{
    margin-left: auto;
    margin-right: auto;
    .epay_expmonth_input, .epay_expyear_input, .epay_cvc_input, .epay_cardno_input{
      border-color: #ddd;
      background: transparent;
      background-color: #fff;
      height: 12px;
      color: #444;
      z-index: 2;
      border-width: 1px;
      border-style: solid;
      font-size: 16px;
      border-radius: 0;
      text-align: center;
      font-weight: bold;
      padding: 10px;
      display: block;
      line-height: 32px;
      width: 90%;
    }



    #epay_paymentcollection{
      padding: 0;
      label{
        width: 100%;
        font-weight: bold;
        text-align: left;
      }

      #epay_paymentcards_form{
        width: 95%;
        margin: auto;
        display: block;
        margin-left: 2.5%;
        margin-right: 2.5%;
        min-height: 241px;

        #ctl00_MainContent_WindowUC1_ctl00_ctl00_exp_li{
          width: 60%;
          clear: both;
          vertical-align: top;
          display: inline-block;
          float: left;
          text-align: center;
          font-weight: bold;
          margin-top: 10px;
          .epay_expyear_input, .epay_expmonth_input{
            width: 20% !important;
          }
          #epay_exp_seperator {
            line-height: 36px;
            float: left;
            width: 15%;
            text-align: center;

          }
        }

        #ctl00_MainContent_WindowUC1_ctl00_ctl00_cvc_li{
          width: 30%;
          float: right;
          display: inline-block;
          font-weight: bold;
          margin-top: 10px;
          label{
            text-align: center;
          }
        }
      }

      #epay_paymentinfo{
        width: initial;

        #ctl00_MainContent_WindowUC1_ctl00_ctl00_UpdatePanel1{
          display: none;
        }
      }
    }

    #epay_cvc_help{
      display: none;
    }
    .epay_payment_button_light{
      padding: 10px;
      font-size: 16px;
      display: block;
      background-color: #F54D2D;
      border: 0;
      border-radius: 0;
      width:100%;
      margin:auto;
      margin-left: 0;
      -webkit-appearance: initial;

      color: white;
      min-height: 31px;
      font-weight: 400;
      line-height: 32px;
    }

    #epay_loader_top{
      height: initial;
      padding: 15px;
    }
    #epay_loader_content{
      height: initial;
    }
  }
}
