@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
/* line 6, ../sass/iframe.scss */
body {
  max-width: 100%;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
/* line 11, ../sass/iframe.scss */
body label {
  color: #444;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}
/* line 19, ../sass/iframe.scss */
body input {
  font-weight: 200;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
/* line 25, ../sass/iframe.scss */
body #epay_main {
  margin-left: auto;
  margin-right: auto;
}
/* line 28, ../sass/iframe.scss */
body #epay_main .epay_expmonth_input, body #epay_main .epay_expyear_input, body #epay_main .epay_cvc_input, body #epay_main .epay_cardno_input {
  border-color: #ddd;
  background: transparent;
  background-color: #fff;
  height: 12px;
  color: #444;
  z-index: 2;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  border-radius: 0;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  display: block;
  line-height: 32px;
  width: 90%;
}
/* line 49, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection {
  padding: 0;
}
/* line 51, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection label {
  width: 100%;
  font-weight: bold;
  text-align: left;
}
/* line 57, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection #epay_paymentcards_form {
  width: 95%;
  margin: auto;
  display: block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  min-height: 241px;
}
/* line 65, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection #epay_paymentcards_form #ctl00_MainContent_WindowUC1_ctl00_ctl00_exp_li {
  width: 60%;
  clear: both;
  vertical-align: top;
  display: inline-block;
  float: left;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
/* line 74, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection #epay_paymentcards_form #ctl00_MainContent_WindowUC1_ctl00_ctl00_exp_li .epay_expyear_input, body #epay_main #epay_paymentcollection #epay_paymentcards_form #ctl00_MainContent_WindowUC1_ctl00_ctl00_exp_li .epay_expmonth_input {
  width: 20% !important;
}
/* line 77, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection #epay_paymentcards_form #ctl00_MainContent_WindowUC1_ctl00_ctl00_exp_li #epay_exp_seperator {
  line-height: 36px;
  float: left;
  width: 15%;
  text-align: center;
}
/* line 86, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection #epay_paymentcards_form #ctl00_MainContent_WindowUC1_ctl00_ctl00_cvc_li {
  width: 30%;
  float: right;
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
}
/* line 92, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection #epay_paymentcards_form #ctl00_MainContent_WindowUC1_ctl00_ctl00_cvc_li label {
  text-align: center;
}
/* line 98, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection #epay_paymentinfo {
  width: initial;
}
/* line 101, ../sass/iframe.scss */
body #epay_main #epay_paymentcollection #epay_paymentinfo #ctl00_MainContent_WindowUC1_ctl00_ctl00_UpdatePanel1 {
  display: none;
}
/* line 107, ../sass/iframe.scss */
body #epay_main #epay_cvc_help {
  display: none;
}
/* line 110, ../sass/iframe.scss */
body #epay_main .epay_payment_button_light {
  padding: 10px;
  font-size: 16px;
  display: block;
  background-color: #F54D2D;
  border: 0;
  border-radius: 0;
  width: 100%;
  margin: auto;
  margin-left: 0;
  -webkit-appearance: initial;
  color: white;
  min-height: 31px;
  font-weight: 400;
  line-height: 32px;
}
/* line 128, ../sass/iframe.scss */
body #epay_main #epay_loader_top {
  height: initial;
  padding: 15px;
}
/* line 132, ../sass/iframe.scss */
body #epay_main #epay_loader_content {
  height: initial;
}
